body{ 
  margin: 2em;
  /* margin:0 auto; */
  font-family: 'Roboto', sans-serif;
  color: #06283D;
}
header { 
  text-align: center;
}

header nav h1 {
  font-size: 46px;
  color: #256D85;
  margin-bottom: 16px;
}

.nav-list {
  list-style-position: none;
  margin: 0;
  padding: 0;
}

ul.nav-list li {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
}

section h2 {
  text-align: center; 
  font-size: 32px;
  color: #176f8c;
}

article h3 {
  color: #87A2FB;
}

.text-center {
  text-align: center;
}

article#welcome ul {
  list-style-position: inside;
}

ol li img {
  width:200;
}